<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <h1>Nutzer-Datebank</h1>
        </div>
    
    </div>
</nav>