<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Bootstrap &amp; jQuery Electron!</title>
<link href="asset:/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="asset:/assets/material.theme.css">
<script src="asset:/assets/xel.min.js"></script>
<script>
        window.$ = window.jQuery = require('jquery');
</script>