<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./partials/head -%>
    <script>
        var appRoot = require('app-root-path');
        require(appRoot + "/lib/render/index.js")
    </script>
</head>
<body class="container">

<header>
    <%- include ./partials/header -%>
</header>

<main>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Yvo</td>
                    <td>Brönnimann</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>
                        <x-input id="firstname-input">
                            <x-label id="firstname-label">Vorname</x-label>
                        </x-input>
                    </td>
                    <td>
                        <x-input id="lastname-input">
                            <x-label id="lastname-label">Nachname</x-label>
                        </x-input>
                    </td>
                    <td>
                        <x-button id="add-button">Hinzufügen</x-button>
                    </td>
                  </tr>
                </tbody>
              </table>
</main>

<footer>
    <%- include ./partials/footer -%>
</footer>

</body>
</html>